asgiref==3.9.1
coverage==7.9.2
django==5.2.4
django-phonenumber-field==8.1.0
django-stubs==5.2.1
django-stubs-ext==5.2.1
execnet==2.1.1
gunicorn==23.0.0
iniconfig==2.1.0
markdown==3.8.2
mypy==1.16.1
mypy-extensions==1.1.0
packaging==25.0
pathspec==0.12.1
phonenumbers==9.0.9
pluggy==1.6.0
pygments==2.19.2
pytest==8.4.1
pytest-cov==6.2.1
pytest-django==4.11.1
pytest-mock==3.14.1
pytest-xdist==3.8.0
python-decouple==3.8
pytz==2025.2
sqlparse==0.5.3
types-markdown==3.8.0.20250708
types-pyyaml==6.0.12.20250516
typing-extensions==4.14.1
whitenoise==6.9.0
