{% extends 'base/base.html' %}

{% block content %}
  {% block content_header %}
    <div class="mb-12 mt-0 md:mb-24 md:mt-16 px-4">
      <h1 class="text-slate-600 font-thin font-serif mt-7 mb-5 text-center text-6xl tracking-tighter">
        {% block content_header_title %}

        {% endblock %}
      </h1>

      {% block content_header_description %}
        <div class="container max-w-[600px] mx-auto prose prose-lg prose-p:text-center prose-p:italic">
          <p>
            {% block content_header_description_paragraph %}

            {% endblock %}
          </p>
        </div>
      {% endblock %}
    </div>
  {% endblock %}

  {% block content_body %}
    <div class="container max-w-[900px] mx-auto my-8">
      {% block content_body_interior %}

      {% endblock %}
    </div>
  {% endblock %}
{% endblock %}
