{% if echo_post %}
  {% load markdown_utils %}

  <article class="echo-entry">
    <div class="echo-entry__meta">
      <div class="echo-entry__timestamp">
        <a href="{% url 'echo_unique_page' echo_post.id %}" class="echo-entry__timestamp-link">
          {{ echo_post.created_at.year }} / {{ echo_post.created_at|date:"M" }} {{ echo_post.created_at.day }}
          {{ echo_post.created_at|date:"H:i" }} UTC
        </a>
      </div>
    </div>
    <div class="echo-entry__body">
      <div class="rich-prose hyphens-auto">
        {{ echo_post.content|markdown_to_html|safe }}
      </div>
    </div>
  </article>

{% endif %}
